<nav class="container nav my-3">
  <%= image_tag("logo.png") %>
  <li>
    <%= link_to "Rent", cars_path %>
    <%= link_to "List a car", cars_new_path %>
    <%= link_to "Login", cars_new_path, class:"btn btn-primary" %>
    <%= link_to "Sign-up", cars_new_path, class:"btn btn-secondary" %>
  </li>
</nav>
