<% if user_signed_in? %>
  <nav class="nav">
    <div class="container">
      <%= link_to root_path do  %>
        <%= image_tag("logo.svg", class:"logo") %>
      <% end %>
      <ul>
        <li><%= link_to "Rent", cars_path %></li>
        <li><%= link_to "List a car", new_car_path %></li>
        <li>
          <div class="dropdown">
            <%= image_tag("user.svg", class:"avatar dropdown-toggle",
                  id: "dropdownMenuButton",
                  data: { bs_toggle: "dropdown" },
                  role: "button") %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "My Dashboard",  bookings_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="nav">
    <div class="container">
      <%= link_to root_path do  %>
        <%= image_tag("logo.svg", class:"logo") %>
      <% end %>
      <li>
        <%= link_to "Rent", cars_path %>
        <%= link_to "List a car", new_car_path %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary rounded-4" %>
        <%= link_to "Sign-up",  new_user_registration_path, class:"btn btn-secondary rounded-4" %>
      </li>
    </div>
  </nav>
<% end %>
