<% if user_signed_in? %>
  <nav class="nav my-3">
    <div class="container">
      <%= link_to root_path do  %>
        <%= image_tag("logo.svg", class:"logo") %>
      <% end %>
      <li>
        <%= link_to "Rent", cars_path %>
        <%= link_to "List a car", new_car_path %>
        <%= link_to root_path do  %>
          <%= image_tag("user.svg", class:"logo") %>
        <% end %>
      </li>
    </div>
  </nav>
<% else %>
  <nav class="nav my-3">
    <div class="container">
      <%= link_to root_path do  %>
        <%= image_tag("logo.svg", class:"logo") %>
      <% end %>
      <li>
        <%= link_to "Rent", cars_path %>
        <%= link_to "List a car", new_car_path %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign-up",  new_user_registration_path, class:"btn btn-secondary" %>
      </li>
    </div>
  </nav>
<% end %>
