<div class="banner min-vh-75 py-5 d-flex flex-column justify-content-center align-items-center text-white">
  <div class="text-center mb-4">
    <h1 class="display-4 fw-bold">Discover the best cars for your journey</h1>
    <p class="lead">Search by car to find your perfect ride</p>
  </div>

  <div class="w-100" style="max-width: 500px;">
    <%= form_with url: cars_path, method: :get, html: { class: "input-group input-group-lg" }, local: true do |f| %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "I am looking for a car..." %>
      <button class="btn btn-primary" type="submit">Search</button>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h3 class="mb-4"><strong>Explore nearby cars</strong></h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @cars.each do |car| %>
    <div class="col d-flex">
    <div class="card shadow-sm w-100 d-flex flex-column rounded-4 overflow-hidden">

      <% if car.photo_url.present? %>
        <%= link_to car_path(car) do %>
          <%= image_tag car.photo_url, class: "card-img-top rounded-top", style: "height: 200px; width: 100%; object-fit: cover;" %>
        <% end %>
      <% elsif car.photo.attached? %>
        <%= link_to car_path(car) do %>
          <%= cl_image_tag car.photo.key, class: "card-img-top rounded-top", style: "height: 200px; width: 100%; object-fit: cover;" %>
        <% end %>
      <% end %>


          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= car.brand %> <%= car.model %></h5>
            <p class="fw-bold mt-auto">£<%= car.rent_price %>/day</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h3 class="mb-4"><strong>Hosts' favorite cars</strong></h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @favorite_cars.each do |car| %>
      <div class="col d-flex">
        <div class="card shadow-sm w-100 d-flex flex-column rounded-4 overflow-hidden">
          <% if car.photo_url.present? %>
            <%= image_tag car.photo_url, class: "card-img-top rounded-top-4", alt: "#{car.brand} #{car.model}", style: "height: 200px; object-fit: cover;" %>
            <% elsif car.photo.attached? %>
            <%= cl_image_tag car.photo.key, class: "card-img-top rounded-top-4", alt: "#{car.brand} #{car.model}", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= car.brand %> <%= car.model %></h5>
            <p class="fw-bold mt-auto">£<%= car.rent_price %>/day</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
