<h1>List Your Car</h1>
<div class="car-new">
  <%= simple_form_for  @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :rental_options %>
    <%= f.input :rent_price %>
    <%= f.input :photo, as: :file %>
    <%= f.input :features, collection:["AWD", "Convertible", "Bluetooth", "Heated Seats"], prompt: "Select a feature" %> (see list of features below and enter in this features field: )

    <%= f.submit "List your Car", class: "btn btn-primary" %>
  <% end %>
  <!--<ul>
    <li>AWD</li>
    <li>Convertible</li>
    <li>Bluetooth</li>
    <li>Heated Seats</li>
  </ul>-->
</div>
