<%# car details %>
 <div class="content container w-80 mt-5" >
    <div class="title">
        <h3 class="brand"><%= @car.brand %></h3>
        <h2 ><%= @car.model_year %> <%= @car.model %></h2>
    </div>
  <div class="hero-sec">
    <div class="image-wrapper">
      <% if @car.photo_url.present? %>
        <%= image_tag(@car.photo_url, class:"image") %>
      <% elsif @car.photo.attached? %>
        <%= cl_image_tag @car.photo.key, class:"image" %>
      <% end %>
    </div>
    <div class="hero-details">
      <div class="car-show">
        <div class="details">
          <h3>Details</h3>
          <div class="details-wrapper">
            <div class="details-info">
              <p class="details-title">Model</p>
              <p><%= @car.model %></p>
            </div>
            <div class="details-info">
              <p class="details-title">Year</p>
              <p><%= @car.model_year %></p>
            </div>
          </div>
          <div class="details-wrapper">
            <div class="details-info">
              <p class="details-title">Transmission</p>
              <p><%= @car.transmission %></p>
            </div>
            <div class="details-info">
              <p class="details-title">Fuel</p>
              <p><%= @car.fuel %></p>
            </div>
          </div>
          <div class="details-wrapper">
            <div class="details-info">
              <p class="details-title">Seat-capacity</p>
              <p><%= @car.seat_capacity %></p>
            </div>
            <div class="details-info">
              <p class="details-title">Price</p>
              <p> £ <%= @car.rent_price %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-content">
    <h3>Description</h3>
    <div class="details-wrapper">
      <p class="mt-2"><%= @car.description %></p>
    </div>
    <h3>Features</h3>
    <div class="details-wrapper">
      <div class="feture-tag">
        <% @car.features.split(',').each do |feature| %>
          <span class="features"><%= feature.strip %></span>
        <% end %>
      </div>
    </div>
  </div>

  <%# car reservation form %>
  <h2>Ready to ride?</h2>
  <div class="container booking-form">
    <%= simple_form_for [@car, @booking] do |f| %>
      <%= f.input :start_date, as: :string, placeholder: "Select start date", input_html: { data: { controller: "flatpickr", flatpickr_disabled_dates_value: "#{@dates_booked.to_json}"}} %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr", flatpickr_disabled_dates_value: "#{@dates_booked.to_json}"}}, placeholder: "Select end date" %>
      <%= f.submit "Book now", class: "btn btn-primary btn-book" %>
    <% end %>

  </div>
   <%# Reviews Section %>
      <div class="container mt-5 py-5 border-top w-100 d-block">
        <h3>Reviews: <%= @car.reviews.count %></h3>
        <% if @reviews.present? %>
          <% @reviews.each do |review| %>
            <p><%= review.content %></p>
            <p><%= '⭐️' * review.rating  %></p>
          <% end %>
        <% else %>
          <p>No reviews yet.</p>
        <% end %>
      </div>
    </div>
</div>
